/*----------------------------------------------------------------*/
/*ヘッダー、ボディーのインポート                                     */
/*----------------------------------------------------------------*/
@import url("style_header_body.css");

/*----------------------------------------------------------------*/
/*コンテンツ全体                                                   */
/*----------------------------------------------------------------*/
.content{
  width: 600px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
}

/*----------------------------------------------------------------*/
/*Deltusマーク                                                     */
/*----------------------------------------------------------------*/
.mark{
  width: 600px;
}


/*----------------------------------------------------------------*/
/*サブタイトル                                                     */
/*----------------------------------------------------------------*/
.sub_title {
    width: 100%;
    margin:10px auto;
    font-size: 250%;
    padding: 10px;
    color: #5d627b;
}

/*----------------------------------------------------------------*/
/*ログインフォーム                                                  */
/*----------------------------------------------------------------*/
.login{
    background-color: #fff;
    width: 100%;
    margin: 0px auto;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.submit {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #004C98;
  font-size: 13px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #003366;
  margin: 0px 0px 10px 0px;
}

.submit:active {
    transform: translateY(4px);
    border-bottom: none;
}

.error_message{
  font-size: 7px;
  padding: 0px 0px 0px 60px;
  color: #FF3300;
}
