/*----------------------------------------------------------------*/
/*ヘッダー、ボディーのインポート                                     */
/*----------------------------------------------------------------*/
@import url("style_header_body.css");

/*----------------------------------------------------------------*/
/*テーブル       　                                                */
/*----------------------------------------------------------------*/
#table1{
}

#table1 table{
    border-collapse: collapse;
}

#table1 table th:first-child {
    border-radius: 5px 0 0 0;
}

#table1 th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

#table1 th {
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    padding: 15px;
}

#table1 td {
    background: #ffffff;
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 15px;
}

/*----------------------------------------------------------------*/
/*テーブル2                                                        */
/*----------------------------------------------------------------*/
#table2{
}

#table2 table{
    border-collapse: collapse;
}

#table2 table th:first-child {
    border-radius: 5px 0 0 0;
}

#table2 th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

#table2 th {
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    padding: 15px;
}

#table2 td {
    background: #ffffff;
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 15px;
}

/*----------------------------------------------------------------*/
/*テーブル3                                                        */
/*----------------------------------------------------------------*/
#table3{
}

#table3 table{
    border-collapse: collapse;
}

#table3 table th:first-child {
    border-radius: 5px 0 0 0;
}

#table3 th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

#table3 th {
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    padding: 13px 30px;
}

#table3 td {
    background: #ffffff;
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 13px 30px;
}

/*----------------------------------------------------------------*/
/*テーブル4                                                        */
/*----------------------------------------------------------------*/
#table4{
}

#table4 table{
    border-collapse: collapse;
}

#table4 table th:first-child {
    border-radius: 5px 0 0 0;
}

#table4 th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

#table4 th {
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    padding: 13px 60px;
}

#table4 td {
    background: #ffffff;
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 13px 60px;
}

/*----------------------------------------------------------------*/
/*テーブル5      　                                                */
/*----------------------------------------------------------------*/
#table5{
}

#table5 table{
    border-collapse: collapse;
}

#table5 table th:first-child {
    border-radius: 5px 0 0 0;
}

#table5 th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

#table5 th {
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    padding: 13px 60px;
}

#table5 td {
    background: #ffffff;
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 13px 60px;
}

/*----------------------------------------------------------------*/
/*テーブル全体                                                     */
/*----------------------------------------------------------------*/
table {
  font-size: 20px;
  overflow: hidden;
  border-collapse: collapse;
  margin: 60px 10px 10px 15px;
  float:left;
}

/*----------------------------------------------------------------*/
/*表示用フレーム                                                   */
/*----------------------------------------------------------------*/
#tact_time{
 /* window枠の絶対値によりフレーム位置を決定する */
 position: fixed;
 font-size: 40px;
 margin:570px 0px 0px 40px;
 clear:both;
 width: 300px;
 border: solid #000000;
 border-width: thick;
 text-align: center;
 background-color:#FFFFFF;
 font-weight: 800;
}

#on_out{
 /* window枠の絶対値によりフレーム位置を決定する */
 position: fixed;
 font-size: 40px;
 margin:760px 0px 0px 40px;
 clear:both;
 width: 300px;
 border: solid #000000;
 border-width: thick;
 text-align: center;
 background-color:#FFFFFF;
 font-weight: 800;
}

/*----------------------------------------------------------------*/
/*各種ボタン                                                       */
/*----------------------------------------------------------------*/
.button{
  clear: both;
  color: #FFF;
  text-decoration: none;
  font-size:30px;
}

#stop{
  display: inline-block;
  padding: 0.2em 5em;
  background: #668ad8;/*ボタン色*/
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin: 35px 0 0 420px;
  padding:0 50px;
}

#stop:active {
    transform: translateY(4px);
    border-bottom: 4px solid #003366;
}

#restart{
  display: inline-block;
  padding: 0.2em 5em;
  background: #668ad8;/*ボタン色*/
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin: 35px 0 0 60px;
  padding:0 50px;
}

#restart:active {
  transform: translateY(4px);
  border-bottom: 4px solid #003366;
}

#reflect{
  display: inline-block;
  padding: 0.2em 5em;
  background: #668ad8;/*ボタン色*/
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin: 35px 0 0 60px;
  padding:0 50px;
}

#reflect:active {
  transform: translateY(4px);
  border-bottom: 4px solid #003366;
}

#plus{
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #668ad8;
}

#plus:active {
  transform: translateY(4px);
  border-bottom: 50px solid #003366;
}

#minus{
  position:absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #668ad8;
  left:1080px;
  top:820px;
}

#minus:active {
  transform: translateY(4px);
  border-top: 50px solid #003366;
}
