<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>生産管理板 ログイン画面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

    <!-- ヘッダー -->
    <header class="page-header">
        <a href="/"><img class="logo" src="/static/images/logo.png" alt="Deltusロゴ" /></a>
        <div class="title">生産管理板</div>
        <div class="month">{{ this_month }}月</div>
    </header>

    <!-- Deltusマークを表示 -->
    <div align="center">
        <table cellspacing="0" cellpadding="10" border="0" align="center">
            <tr>
                <td><a href="/"><img class="mark" src="/static/images/mark.jpg" alt="Deltusマーク"></a></td>
            </tr>
        </table>
    </div>

    <!--入力されたラインNOを[GET]でpcbd.htmlに送る -->
    <div class="login" align="center">
        <div class="sub_title"><b>ログイン画面</b></div>
        <form action="/pcbd" method="get">
            <table class="login">
                <tr>
                    <td>ラインNo</td>
                    <td><input type="text" name="line_no"></td>
                </tr>
            </table>
            <input type="submit" class="submit" value="ログイン" >
        </form>
    </div>


</body>
</html>
