<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>生産管理板 ログイン画面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_login.css">
</head>
<body>

    <!-- ヘッダー -->
    <header class="page-header">
        <a href="/"><img class="logo" src="../static/images/logo.png" alt="Deltusロゴ" /></a>
        <div class="title">生産管理板</div>
        <div class="month">7月</div>
    </header>

    <!-- Deltusマークを表示 -->
    <div class="content">
      <div class="mark">
        <a href="/"><img src="../static/images/d_mark.jpg" alt="Deltusマーク"></a>
      </div>

    <!-- 生産管理板へのログインフォーム -->
      <div class="login">
        <div class="sub_title"><b>生産管理板ログイン画面</b></div>
        <form action="/pcbd" method="get">
          <p>ラインNo： <input type="text" name="line_no"></p>
          <p><input type="submit" class="submit" value="ログイン" ></p>
        </form>
      </div>

    <!-- 管理者画面へのログインフォーム -->
      <div class="login">
        <div class="sub_title"><b>管理者ログイン画面</b></div>
        <form action="/pcbd" method="get">
          <p>ログインＩＤ： <input type="text" name="login_id"></p>
          <p>パスワード　 : <input type="password" name="password"></p>
          <p><input type="submit" class="submit" value="ログイン" ></p>
        </form>
      </div>
  </div>


</body>
</html>
