<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>生産管理板 ログイン画面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_pcbd.css">
</head>
<body>

  <!-- JavaScriptファイルの読み込み -->
  <script src="../static/js/pcbd.js"></script>

    <!-- ヘッダー -->
    <header class="page-header">
        <a href="login.html"><img class="logo" src="../static/images/logo.png" alt="Deltusロゴ" /></a>
        <div class="title">生産管理板</div>
        <div class="month">ラインＮＯ</div>
    </header>

    <!-- テーブル -->
    <div class="table">

    <!-- 凡例の表（前半） -->
      <div id="table1">
              <table>
                  <tr>
                      <th>必要人工</th>
                  </tr>
                  <tr>
                      <td>4.0人</td>
                  </tr>
                  <tr>
                      <th>編成人工</th>
                  </tr>
                  <tr>
                      <td>4人</td>
                  </tr>
                  <tr>
                      <th>月度オーダー</th>
                  </tr>
                  <tr>
                      <td>20250台</td>
                  </tr>
                  <tr>
                      <th>稼働日</th>
                  </tr>
                  <tr>
                      <td>23日</td>
                  </tr>
              </table>
      </div>

      <!-- 凡例の表（後半） -->
        <div id="table2">
                <table>
                    <tr>
                        <th colspan="3">日当たり必要数</th>
                    </tr>
                    <tr>
                        <td colspan="3">890台</td>
                    </tr>
                    <tr>
                        <th colspan="3">実行タクトタイム</th>
                    </tr>
                    <tr>
                        <td colspan="3">32.1 秒</td>
                    </tr>
                    <tr>
                        <th colspan="3">前月作業能率</th>
                    </tr>
                    <tr>
                        <td colspan="3">1052</td>
                    </tr>
                    <tr>
                        <th colspan="3">加重平均</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                </table>
        </div>

    <!-- 時間帯・必要数の表 -->
    <div id="table3">
        <table>
            <tr>
                <th>時間帯</th>
                <th>必要数</th>
            </tr>
            <tr>
                <td>8:15  ～  9:15</td>
                <td>112 /  112</td>
            </tr>
            <tr>
                <td>9:15  ～  10:15</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>10:25  ～  11:25</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>11:25  ～  12:25</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>13:20  ～  14:20</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>14:20  ～  15:20</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>15:30  ～  16:30</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>16:30  ～  17:30</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>17:40  ～  18:40</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>18:40  ～  19:40</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>19:40  ～  20:50</td>
                <td>112  /   224</td>
            </tr>
        </table>
    </div>


    <!-- 本日の生産数の表 -->
    <div id="table4">
        <table>
            <tr>
                <th>本日</th>
                <th>問題点</th>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
        </table>
    </div>


    <!-- 前回の生産数の表 -->
    <div id="table5">
        <table>
            <tr>
                <th>前日</th>
                <th>問題点</th>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>

            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
        </table>
    </div>
  </div>

  <!-- 表示用フレーム -->
  <div id="tact_time">
    <p id="tact_time_js">タクトタイム</p>
  </div>
  <div id="on_out">
    <p id="on_out_js">稼働状況</p>
  </div>

  <!-- 各種ボタン -->
  <div class="button">

    <div id="stop" onclick="OnButtonClickOut()">
      <p>stop</p>
    </div>

    <div id="restart" onclick="OnButtonClickOn()">
      <p>restart</p>
    </div>

    <div id="reflect">
      <p>OK</p>
    </div>

  </div>

</body>
</html>
