<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>生産管理板 ログイン画面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style_pcbd.css">
</head>
<body>

    <!-- ヘッダー -->
    <header class="page-header">
        <a href="/"><img class="logo" src="/static/images/logo.png" alt="Deltusロゴ" /></a>
        <div class="title">生産管理板</div>
        <div class="month">{{ this_month }}月</div>
    </header>

    <!-- 時間帯・必要数の表 -->
    <div id="table">
        <table>
            <tr>
                <th>時間帯</th>
                <th>必要数</th>
            </tr>
            <tr>
                <td>8:15  ～  9:15</td>
                <td>112 /  112</td>
            </tr>
            <tr>
                <td>9:15  ～  10:15</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>10:25  ～  11:25</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>11:25  ～  12:25</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>13:20  ～  14:20</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>14:20  ～  15:20</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>15:30  ～  16:30</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>16:30  ～  17:30</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>17:40  ～  18:40</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>18:40  ～  19:40</td>
                <td>112  /   224</td>
            </tr>
            <tr>
                <td>19:40  ～  20:50</td>
                <td>112  /   224</td>
            </tr>
        </table>
    </div>


    <!-- 本日の生産数の表 -->
    <div id="table">
        <table>
            <tr>
                <th>本日</th>
                <th>問題点</th>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
        </table>
    </div>


    <!-- 前回の生産数の表 -->
    <div id="table">
        <table>
            <tr>
                <th>前日</th>
                <th>問題点</th>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>

            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
            <tr>
                <td>112 /  112</td>
                <td>          </td>
            </tr>
        </table>
    </div>


    <!-- 凡例の表 -->
    <div id="table">
        <div>
            <table>
                <tr class="hanrei">
                    <th>必要人工</th>

                </tr>
                <tr class="hanrei">
                    <td>4.0人</td>
                </tr>
                <tr class="hanrei">
                    <th>編成人工</th>
                </tr>
                <tr class="hanrei">
                    <td>4人</td>
                </tr>
                <tr class="hanrei">
                    <th>月度オーダー</th>
                </tr>
                <tr class="hanrei">
                    <td>20250台</td>
                </tr>
                <tr class="hanrei">
                    <th>稼働日</th>
                </tr>
                <tr class="hanrei">
                    <td>23日</td>
                </tr>
                <tr class="hanrei">
                    <th>日当たり必要数</th>
                </tr>
                <tr class="hanrei">
                    <td>890台</td>
                </tr>
                <tr class="hanrei">
                    <th>実行タクトタイム</th>
                </tr>
                <tr class="hanrei">
                    <td>32.1 秒</td>
                </tr>
                <tr class="hanrei">
                    <th>前月作業能率</th>
                </tr>
                <tr class="hanrei">
                    <td>1052</td>
                </tr>
                <tr class="hanrei">
                    <th>加重平均</th>
                </tr>
            </table>
        </div>
    </div>


    <!-- 各種ボタン -->
    <div id="table">
        <ul>
            <li class="bottun_list"><button type="button">リスタート</button></li>
            <li class="bottun_list"><button type="button">リスタート</button></li>
            <li class="bottun_list"><button type="button">リスタート</button></li>
            <li class="bottun_list"><button type="button">リスタート</button></li>
        </ul>
    </div>



</body>
</html>