/*----------------------------------------------------------------*/
/*画面全体のレイアウト                                            */
/*----------------------------------------------------------------*/

/* 初期化 */
html, body {
    margin: 0; /* 余白の削除 */
    padding: 0; /* 余白の削除 */
    width: 100%; /*　画面の幅に合わせる　*/
    height: 100%;　/* 画面の高さに合わせる */
    margin: 0 auto; /* 内容全体をセンタリング */
}

/* ヘッダー */
header {
    background: #004C98;
    height: 5vh;
    overflow: hidden; /*縮小時回り込み防止*/
}

/* メインコンテンツ */
#content {
    display: flex;
    height: 95vh;
}

/* メインコンテンツ - サイドバー */
.side {
    background: #258;
    width: 10%; /*幅を指定*/
}

/* メインコンテンツ - メイン */
.main {
    /*background: pink;*/
    width: 90%; /*幅を指定*/
    height:100%;
}

/* フッター */
footer {
    background: plum;
}